.grid-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.grid {
  white-space: pre;
}

#container {
  display: grid;
}

button {
  margin: 2px;
}

.btn-success  {
  background-color: #004D40 !important ;
}

.btn-danger {
  background-color:#E65100 !important ;
}

