.container {
  padding: 0;
}

.grid-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

button {
  margin: 2px;
}

.btn-success  {
  background-color: #004D40 !important ;
}

.btn-danger {
  background-color:#E65100 !important ;
  font-weight: 600;
}

#tutorialBtn {
  color: black;
}

#algoExplainedBtn, #tutorialBtn {
  border: none;
  font-weight: 600;
  box-shadow: none !important;
}
