.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  top: 0;
  margin: 0;
  width: auto;
  display: flex;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

tbody {
  display: table-row-group;
}


.content {
  min-height: 100%;
  padding-bottom: 9rem
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
} 


nav {
  min-height: 7vh;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-brand {
  display: flex;
  align-items: center;
}


#buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

#navbarCollapse {
  flex-direction: column;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h4, h5{
  font-weight: 800;
}

@media screen and (max-width: 500px) {  
  #buttons-container {
    flex-direction: column;
  }  
}